<!-- app.component.html -->

<div class="navbar">
  <div class="logo">
    <h1>Parcial Stiven Ortiz Noreña</h1>
  </div>
  <div class="nav-links">
    <a routerLink="/">Inicio</a>
    <a routerLink="/add-library">Agregar Biblioteca</a>
    <a routerLink="/list-libraries">Lista de Bibliotecas</a>
    <a routerLink="/add-book">Agregar Libro</a>
    <a routerLink="/list-books">Lista de Libros</a>
    <!-- Agrega más enlaces según sea necesario -->
  </div>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
